{% extends 'layout/default/index.html.twig' %}

{% block title %}Inscris-toi{% endblock %}

{% block main %}
    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Inscris-toi pour jouer&nbsp;!</h1>
    </section>

    <section class="app-section">
        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <fieldset class="form-fieldset">
            <legend class="form-legend">Choisis tes identifiants</legend>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_help(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
                {{ form_help(form.plainPassword) }}
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <legend class="form-legend">Choisis ton pseudo</legend>

            <div class="form-group">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
                {{ form_errors(form.pseudo) }}
                {{ form_help(form.pseudo) }}
            </div>
        </fieldset>

        <fieldsset class="form-fieldset form-actions">
            <button type="submit" class="app-btn form-submit">Inscription</button>
        </fieldsset>
        {{ form_end(form) }}
    </section>
{% endblock %}
