{% extends 'layout/default/index.html.twig' %}

{% block title %}Classement Général{% endblock %}

{% block body_class %}leaderboard{% endblock %}

{% block main %}
    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Classement Général</h1>
    </section>

    <section class="app-section app-text">
        <h2>Es-tu dans le Tableau&nbsp;?</h2>

        <p>
            Bienvenue sur la page du classement général, le tableau d'honneur des dresseurs de Pokémon les plus
            redoutables&nbsp;! Ici, nous célébrons les joueurs qui ont fait preuve d'une stratégie digne des plus grands
            maîtres Pokémon. Que tu sois débutant, avancé ou expert, vois comment tu te mesures à la concurrence. Les
            champions qui ont terminé leur partie en un minimum de tentatives et en un temps record sont couronnés en
            tête de liste. Alors, qui est le véritable maître Pokémon&nbsp;? Viens le découvrir et aspire à devenir le
            meilleur d'entre tous&nbsp;!
        </p>
    </section>

    {% set nbLeaderboards = 0 %}
    {% for mode, leaderboard in leaderboards %}
        {% set modeName = '' %}
        {% if mode == 'debutant' %}
            {% set modeName = 'Débutant' %}
        {% elseif mode == 'avance' %}
            {% set modeName = 'Avancé' %}
        {% elseif mode == 'expert' %}
            {% set modeName = 'Expert' %}
        {% endif %}
        {% if leaderboard %}
            {% set nbLeaderboards = nbLeaderboards + 1 %}
            <section class="app-section app-text">
                <h2>Mode {{ modeName }}</h2>

                <div class="leaderboard-grid">
                    <div class="container head">
                        <div class="grid-header">Rang</div>
                        <div class="grid-header">Joueur</div>
                        <div class="grid-header">Essais</div>
                        <div class="grid-header">Durée</div>
                    </div>

                    {% for game in leaderboard %}
                        {% set duration = game.completedAt.timestamp - game.createdAt.timestamp %}
                        {% set minutes = (duration // 60) %}
                        {% set seconds = (duration % 60) %}
                        <div class="container">
                            <div class="grid-item">{{ loop.index }}</div>
                            <div class="grid-item">{{ game.player.pseudo }}</div>
                            <div class="grid-item">{{ game.tries }}</div>
                            <div class="grid-item">{{ minutes ? minutes ~ "'" : '' }}{{ seconds }}''</div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}

    {% if nbLeaderboards == 0 %}
        <section class="app-section app-text">
            <h2>Aucune partie pour l'instant&nbsp;!</h2>

            {% if not is_granted("ROLE_ADMIN") %}
                <div class="buttons">
                    {% if not app.user %}
                        <p>
                            <a href="{{ path('app_login') }}" class="app-btn make-sound">Connecte-toi</a>
                        </p>

                        <p>
                            <a href="{{ path('app_register') }}" class="app-btn make-sound">ou Inscris-toi</a>
                        </p>
                    {% elseif not is_granted("ROLE_ADMIN") %}
                        <div class="buttons">
                            <p>
                                <a href="{{ path('app_game_home') }}" class="app-btn make-sound">Nouvelle partie</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
