{% extends 'layout/default/index.html.twig' %}

{% block title %}Nouvelle partie{% endblock %}

{% block body_class %}game home{% endblock %}

{% block main %}
    {% if not app.user %}
        <div class="app-alert warning">
            Tu dois
            <a href="{{ path('app_login') }}">être connecté</a>
            pour jouer&nbsp;!
        </div>
    {% elseif pokemons | length == 0 %}
        <div class="app-alert warning">
            Pas assez de Pokémon disponibles ! Demande à l'administrateur de les charger.
        </div>
    {% else %}
        {% if is_granted("ROLE_ADMIN") %}
            <div class="app-alert warning">
                Tu ne peux pas jouer en tant qu'administrateur !
                <small>
                    <a href="{{ path('app_logout') }}">(déconnecte-toi)</a>
                </small>
            </div>
        {% endif %}
    {% endif %}

    <section class="app-section app-cover">
        <img src="{{ asset('img/cover.png') }}" alt="Pokemory"/>
        <h1>Démarrer une partie</h1>
    </section>

    <section class="app-section app-text">
        <h2>Prêt à tester ta mémoire de Dresseur&nbsp;? Choisis ton mode&nbsp;!</h2>

        <p>
            Que la chasse aux Pokémon commence&nbsp;! Sélectionne ton niveau de défi et plonge dans une nouvelle
            aventure. Si tu es un Dresseur en herbe, commence doucement avec le mode Débutant et ses 4 cartes, parfait
            pour réveiller ta mémoire encore plus vite qu'un Évoli sous une cascade. Prêt à monter en puissance&nbsp;?
            Le mode Avancé t'attend avec ses 16 cartes, de quoi mettre à l'épreuve même les plus fins stratèges. Mais
            seuls les vrais Maîtres Pokémon oseront affronter le mode Expert et ses 36 cartes. À toi de prouver que
            ta mémoire est aussi acérée qu'un Dracaufeu en pleine bataille&nbsp;!
        </p>

        <div class="buttons">
            <p>
                <a href="{{ path('app_game_play', {'mode': 'debutant'}) }}"
                   class="app-btn make-sound {% if not app.user or is_granted("ROLE_ADMIN") or pokemons | length == 0 %}disabled{% endif %}">
                    Débutant
                </a>
            </p>

            <p>
                <a href="{{ path('app_game_play', {'mode': 'avance'}) }}"
                   class="app-btn make-sound {% if not app.user or is_granted("ROLE_ADMIN") or pokemons | length == 0 %}disabled{% endif %}">
                    Avancé
                </a>
            </p>

            <p>
                <a href="{{ path('app_game_play', {'mode': 'expert'}) }}"
                   class="app-btn make-sound {% if not app.user or is_granted("ROLE_ADMIN") or pokemons | length == 0 %}disabled{% endif %}">
                    Expert
                </a>
            </p>
        </div>
    </section>
{% endblock %}
